@media all and (max-width: 768px) {
  header {
    margin: 3rem 0 2.5rem 0;
  }

  main {
    flex-direction: column;
    padding: 2rem 1.5rem 2rem 1.5rem;
  }

  .container-input {
    width: 100%;
  }

  .percent-tip button,
  .percent-tip input {
    width: 9rem;
  }

  .container-output {
    width: 100%;
    margin-top: 2rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

@media all and (max-width: 375px) {
  main {
    width: 100%;
  }
}
