/*reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* custom properties */
:root {
  --fs-input: 1.5rem;
  --fs-output: 3rem;
  --clr-strong-cyan: hsl(172, 67%, 45%);
  --clr-very-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-dark-cyan: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-light-cyan: hsl(189, 41%, 97%);
  --bg-btn-hover: hsl(173, 61%, 77%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--clr-light-grayish-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 10rem 0 5rem 0;
}

main {
  width: 920px;
  min-height: 481px;
  padding: 2rem 3rem 2rem 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
  display: flex;
}

body,
input,
textarea,
button {
  font-family: 'Space Mono', monospace;
}

/**** INPUT ****/

.container-input {
  width: 50%;
}

.container-input p {
  font-size: 1rem;
  color: var(--clr-dark-grayish-cyan);
  font-weight: bold;
}

.price input {
  background-image: url('../images/icon-dollar.svg');
  background-repeat: no-repeat;
  background-position: 1.06rem;
}

.input-custom {
  width: 23.6rem;
  height: 3rem;
  margin-top: 0.375rem;
  padding-right: 1.06rem;
  font-size: var(--fs-input);
  text-align: right;
  border-radius: 5px;
  color: var(--clr-very-dark-cyan);
  background-color: var(--clr-light-cyan);
  border: none;
  cursor: pointer;
}

.input-custom:hover,
.input-custom:focus {
  outline: none;
  border: 2px solid var(--clr-strong-cyan);
}

.input-custom.error {
  border: 2px solid hsl(13, 70%, 61%);
  border-radius: 5px;
}

.percent-tip {
  margin: 2.5rem 0 2.5rem 0;
}

.percent-tip > button {
  margin-top: 1rem;
  width: 7.3rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  font-size: var(--fs-input);
  font-weight: bold;
  background-color: var(--clr-very-dark-cyan);
  color: var(--clr-white);
  cursor: pointer;
}

.percent-tip > button:hover {
  background-color: var(--bg-btn-hover);
  color: var(--clr-very-dark-cyan);
}

/* .percent-tip button:focus {
  background-color: var(--clr-strong-cyan);
  color: var(--clr-very-dark-cyan);
} */

.btn-percent.select {
  background-color: var(--clr-strong-cyan);
  color: var(--clr-very-dark-cyan);
}

.percent-tip input {
  width: 7.3rem;
  height: 3rem;
  font-size: var(--fs-input);
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: var(--clr-very-dark-cyan);
  background-color: var(--clr-light-cyan);
  cursor: pointer;
}

.percent-tip input:hover {
  border: 2px solid var(--clr-strong-cyan);
}

.input-percent:focus::placeholder {
  color: transparent;
}

.percent-tip input:focus {
  padding-right: 1rem;
  text-align: right;
  outline: none;
  border: 2px solid var(--clr-strong-cyan);
  color: var(--clr-very-dark-cyan);
  background-color: var(--clr-light-cyan);
}

.number-people input {
  background-image: url('../images/icon-person.svg');
  background-repeat: no-repeat;
  background-position: 1.06rem;
}

.number-people > div {
  display: flex;
  justify-content: space-between;
  width: 23.6rem;
}

.people-text.active-error {
  color: hsl(13, 70%, 61%);
  font-weight: bold;
}

/**** OUTPUT ****/

.container-output {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  background-color: var(--clr-very-dark-cyan);
  border-radius: 15px;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

.output-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-output-user {
  display: flex;
  flex-direction: column;
}

.content-output-user p:nth-child(1) {
  color: var(--clr-white);
  line-height: 1.5rem;
  font-weight: bold;
}

.content-output-user p:nth-child(2) {
  color: var(--clr-dark-cyan);
  font-size: 0.8rem;
  line-height: 1.18rem;
  font-weight: bold;
}

.calcul-output {
  letter-spacing: -1px;
  color: var(--clr-strong-cyan);
  font-size: var(--fs-output);
  line-height: 71px;
  font-weight: bold;
}

.btn-output {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.25rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: var(--clr-very-dark-cyan);
  background-color: hsl(183, 78%, 24%);
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

.btn-output.active {
  background-color: var(--clr-strong-cyan);
  cursor: pointer;
}

.btn-output.active:hover {
  background-color: var(--bg-btn-hover);
}
